* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.card {
    font-size: 12px;
    display: flex;  
    height: 300px;
    width: 750px;
    padding: 30px 25px;
}

.card-image {
    width: 25%;
    border-radius: 9px;
    margin-right: 20px;
}

.card-location {
    display: flex;
    align-items: center;
}

.card-location-name {
    margin-right: 10px;
}
