* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

#Footer > button {
    width:100px;
    height:100px;
}

#Footer > button > img {
    width: 80px;
    height: 80px;
}

#info-buttons {
    display: flex;
}

#info-buttons > button, #info-buttons > span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px
}

#info-buttons > button > img {
    width: 80px;
    height: 80px;
}
